# Environments
.env
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Databases
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Logs
*.log

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Temp files
temp_resumes/
